/* PrismJS 1.21.0
https://prismjs.com/download.html?themes#themes=prism-okaidia&languages=markup+css+clike+javascript */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

.markdown {
  line-height: 2 !important;
  font-size: 1.15em !important;
}

code[class*='language-'],
pre[class*='language-'] {
  color: #f8f8f2 !important;
  background: none !important;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3) !important;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
  font-size: 1em !important;
  text-align: left !important;
  white-space: pre !important;
  word-spacing: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  line-height: 1.5 !important;

  -moz-tab-size: 4 !important;
  -o-tab-size: 4 !important;
  tab-size: 4 !important;

  -webkit-hyphens: none !important;
  -moz-hyphens: none !important;
  -ms-hyphens: none !important;
  hyphens: none !important;
}

/* Code blocks */
pre[class*='language-'] {
  padding: 1em !important;
  margin: 0.5em 0 !important;
  overflow: auto !important;
  border-radius: 0.3em !important;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: #272822 !important;
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.1em !important;
  border-radius: 0.3em !important;
  white-space: normal !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #8292a2 !important;
}

.token.namespace {
  opacity: 0.7 !important;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672 !important;
}

.token.punctuation {
  color: #f8f8f2 !important;
}

.token.boolean,
.token.number {
  color: #ae81ff !important;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2 !important;
  background: none !important;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74 !important;
}

.token.keyword {
  color: #66d9ef !important;
}

.token.regex,
.token.important {
  color: #fd971f !important;
}

.token.important,
.token.bold {
  font-weight: bold !important;
}
.token.italic {
  font-style: italic !important;
}

.token.entity {
  cursor: help !important;
}
